.bg {
    min-height: 100vh;
    background-image: radial-gradient(circle at 43.84% 120.44%, #ffe300 0, #ffd200 10%, #ffbf00 20%, #ffaa00 30%, #ff9314 40%, #f37b1f 50%, #e26426 60%, #d3502c 70%, #c43e31 80%, #b82f36 90%, #ae223b 100%);
    background-repeat: no-repeat;
}
