.form-control{
    &:focus{
        box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 6%);
    }
}

.form-control:focus {
    outline: 0 !important;
    border-color: initial;
    box-shadow: none;
}

.btn-pos {
    position:relative;
    z-index:1;
    left: -36px;
}

.input-group-append{
    position: absolute;
    right: 0;
}

.search-button{
    height: 42px;
    border-radius: 0;
    
    & :active {
        box-shadow: none;
    }
}
.btn-check:focus + .btn-outline-secondary, .btn-outline-secondary:focus{
    box-shadow: none;
}